<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
    <title>Register - Todo App</title>
</head>

<body>

<header>
    <!--/*/ <th:block th:include="fragments/header :: header('register')"></th:block> /*/-->
</header>

<main class="container">
    <div class="card mb-3">

        <div class="card card-body">


            <table class="my-tab table table-hover text-left">
                <h3 class="card-header">Assign tasks</h3>

                <thead class="thead-white">
                <tr>
                    <th colspan="5">
                        <h4>
                            <span>List of tasks actually assigned to </span>
                            <span class="text text-success" th:text="${user.name}"></span>
                            <span th:text="' ('+${user.email}+')'"></span>
                        </h4>
                    </th>
                </tr>
                </thead>
                <thead class="table-success">
                <tr>
                    <th>Task name</th>
                    <th>Description</th>
                    <th>Start date</th>
                    <th>End date</th>
                    <th>Completed</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="ut:${userTasks}">

                    <td th:text="${ut.name}"></td>
                    <td th:text="${ut.description}"></td>

                    <td th:text="${#strings.substring(ut.startDate+' ',8,10)}
                            +'-'+${#strings.substring(ut.startDate,5,7)}
                            +'-'+${#strings.substring(ut.startDate,0,4)}"></td>
                    <td th:text="${#strings.substring(ut.endDate+' ',8,10)}
                            +'-'+${#strings.substring(ut.endDate,5,7)}
                            +'-'+${#strings.substring(ut.endDate,0,4)}"></td>

                    <td th:id="row+${ut.id}">
                        <a th:href="${ut.completed} ? ${'/task/markUndone/' + ut.id} : ${'/task/markDone/' + ut.id}"
                           th:classappend="${ut.completed} ? 'btn btn-success btn-sm' : 'btn btn-danger btn-sm'"
                           th:text="${ut.completed} ? 'completed' : 'in progress'"></a>
                    </td>
                </tr>
                </tbody>


                <thead>
                <tr>
                    <td colspan="5" class="my-3">&nbsp;</td>
                </tr>
                </thead>

                <thead class="thead-white" th:unless="${freeTasks.size()==0}">
                <tr>
                    <th colspan="5">
                        <h4 th:text="'Free tasks (you can assign them to '+${user.name}+')'"></h4>
                    </th>
                </tr>
                </thead>
                <thead class="table-secondary" th:unless="${freeTasks.size()==0}">
                <tr>
                    <th>Task name</th>
                    <th>Description</th>
                    <th>Start date</th>
                    <th>End date</th>
                    <th>Assign task</th>
                </tr>
                </thead>
                <tbody>

                <tr th:each="ft:${freeTasks}">
                    <td th:text="${ft.name}"></td>
                    <td th:text="${ft.description}"></td>

                    <td th:text="${#strings.substring(ft.startDate+' ',8,10)}
                            +'-'+${#strings.substring(ft.startDate,5,7)}
                            +'-'+${#strings.substring(ft.startDate,0,4)}"></td>
                    <td th:text="${#strings.substring(ft.endDate+' ',8,10)}
                            +'-'+${#strings.substring(ft.endDate,5,7)}
                            +'-'+${#strings.substring(ft.endDate,0,4)}"></td>

                    <td><a th:href="@{'/assign/'+${user.email}+'/'+ ${ft.id}}" class="btn btn-dark btn-sm">Assign</a></td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</main>

<footer class="footer">
    <!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
</footer>

</body>
</html>