<html xmlns:th="http://www.thymeleaf.org" lang="en">

<header th:fragment="header(activeTab)">

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
        <a class="navbar-brand" href="#">Todo App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li th:class="${activeTab == 'home'}? 'active nav-item mx-2' : 'nav-item mx-2'">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li th:class="${activeTab == 'register'}? 'active nav-item mx-2' : 'nav-item mx-2'">
                    <a class="nav-link" href="/">Register</a>
                </li>
                <li th:class="${activeTab == 'login'}? 'active nav-item mx-2' : 'nav-item mx-2'">
                    <a class="nav-link" href="/">Login</a>
                </li>
                <li th:class="${activeTab == 'tasks'}? 'active nav-item mx-2' : 'nav-item mx-2'">
                    <a class="nav-link" href="/tasks/">Tasks</a>
                </li>
                <li th:class="${activeTab == 'add-task'}? 'active nav-item mx-2' : 'nav-item mx-2'">
                    <a class="nav-link" href="/task/new">Add task</a>
                </li>
                <li th:class="${activeTab == 'users'}? 'active nav-item mx-2' : 'nav-item mx-2'">
                    <a class="nav-link" href="/">Users</a>
                </li>
                <li th:class="${activeTab == 'add-user'}? 'active nav-item mx-2' : 'nav-item mx-2'">
                    <a class="nav-link" href="/">Add user</a>
                </li>
                <li th:class="${activeTab == 'about'}? 'active nav-item mx-2' : 'nav-item mx-2'">
                    <a class="nav-link" href="/about">About</a>
                </li>
            </ul>

            <form class="form-inline my-2 my-lg-0">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Log out</button>
            </form>
        </div>
    </nav>

</header>
</html>
