<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
    <title>Todo App</title>
</head>

<body>

    <header>
        <!--/*/ <th:block th:include="fragments/header :: header('home')"></th:block> /*/-->
    </header>

    <main class="container">
        <h1 class="display-3">Hello, User</h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid eligendi eos impedit maiores
            soluta. Aspernatur dicta eaque earum molestias nam repellat tenetur, totam veritatis. Aspernatur, labore,
            quae! Esse, exercitationem quasi.</p>
        <hr class="my-4">
        <p>Ab, autem commodi consequuntur cumque earum excepturi iure iusto nihil omnis quasi reiciendis repellendus
            temporibus totam vel voluptates. Non nulla quia reiciendis?</p>
        <p>Fugiat, iusto, laudantium? Accusamus accusantium animi assumenda blanditiis cum dolore dolores eos et
            expedita facilis fugiat incidunt laborum mollitia natus non, officia officiis perferendis placeat, qui quos
            similique tempore voluptate voluptatem.</p>
    </main>

    <footer class="footer">
        <!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
    </footer>

</body>
</html>